body    {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-attachment: fixed;
    enable-background: unset;
    background-image: url("images/dust_scratches.png")

}

ul  {
    list-style: none
}


#navbar {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    padding: 3%;

}

#nametag {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;    
    padding-right: 75%;
    background-color: #4aaaa5;
    text-decoration-color: white;
    
}

.connect {
        text-align: center;     
        border: 1px solid black;
        align-items: center;
        box-shadow: #6d5959;
        float: right;

}


#aboutme {
    text-align: left;
    float: left;
}

#contactme  {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}


#footer  {
    background-color: #666666;
    position: absolute;
    width: 100%;
    height: 75px;
    bottom: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    